<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% block customstyle %}{% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <div class="content">
  {% block content %}{% endblock %}
  </div>
</section>